.login-icons{
   margin: 0 5px 0 0;
   font-size: 14px;   
}
.login-link{
   text-decoration: none;
}
span .userImg{
   width: 30px;
   height: 30px;
   border-radius: 30px;
   margin-right: 5px;
 }
 .navbar-right{
    margin-right: 70px;
 }
 .user-name{
   display: inline;
 }
