.users-col{
 margin: auto;
 border: 3px dotted #cbcbcb ;
 border-radius: 10px;
 margin-bottom: 30px;
}
.user-form #password, #password-confirm{
   display: block;
}
.user-form #userImg{
   border: none;
   border-radius: 0px;
}
.user-input{
   display: block;
   margin: 20px 5px;
   margin: 10px auto;
   width:90%;
   border: 1px solid #d8d8d8;
   border-radius: 5px;
}
.user-input:focus{
   outline: none;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);   
}
.user-form #btn-user{
   background-color: #001f2e;
   color: #d8d8d8;
   width: 200px;
}
.user-form #btn-user:hover{
   background-color: #003a58;
 }
 .user-info div{
    padding: 10px;
 }
 .users-col .user-img{   
   width: 80px;
   height: 80px;
   border-radius: 50%;
   border: 1px solid #001f2e;
 }
 article h3{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    margin-top: 30px;
    margin-bottom: 30px;
 }


 /*--------------Users Edit--------------*/
.unset{
   display: none;
}

.enabled input, .enabled select{
   display: block;
   border: none;
   margin-bottom: 5px;
   background-color: white;
}
.enabled input:focus, select:focus{
   outline: 1px solid #003a58;
}

.disabled input, .disabled select{
   border: none;
   background-color: #e9e9e9;
 }
 .btn-green{
   border: none;
   border-radius: 5px;
   background-color: #001f2e;
   color: #d8d8d8;
   font-size: 12px;
   width: 80px;
   padding: 5px;
 }
 .userInputLabel{
   text-align: center;
   padding-top: 25%;
   width: 80px;
   height: 80px;
   border-radius: 50%;
   border: 1px solid #001f2e;
   font-size: 12px;   
 }
 .userInputLabel:hover{
   cursor: pointer;
   background-color: white;
   border-color: #003a58;
 }
 td input.unset{
    display: none;
 }

 /* ---------- user_new.php ---------- */
 .userImgLabel{
   display: block;
   text-align: center;
   background-image: url('../images/camera.png');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   margin:20px auto;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   border: 1px solid #c5c5c5;
   font-size: 12px;   
 }
 .userImgLabel:hover{
   cursor: pointer;
   background-color: white;
   border-color: #003a58;
 }
 .msg-box{
   font-size: 14px;
   text-align: left;
   border-radius: 3px;
}
.msg-box p{
   display: block;
   margin: 20px 5px;
   margin: 10px auto;
   padding-left: 5px;
   width:90%;
}
.msg-error{
   color: #720d0d;
   background-color: #ffbfbf;
}


