html body{
   
   overflow-x: hidden;
}
.login-box {
   border: 3px dotted #cbcbcb ;
   border-radius: 10px;
   margin-bottom: 10px;
}
.input-login{
   display: block;
   margin: 20px 0;
   width: 100%;
   border: 1px solid #d8d8d8;
   border-radius: 5px;
   height: 30px;
}
.input-login:focus{
   outline: none;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);   
}
.login-form #login-btn{
   background-color: #001f2e;
   color: white;
   border: none;
}
.login-form #login-btn:hover{
   background-color: #003a58;
 }
 .login-form #login-btn:disabled{
   background-color:#c5c5c5;
   color: #757575;
}
 .login-img{
    display: block;
    text-align: center;
    padding: 30px 0 10px 0;
    font-size: 70px;
    color:#001f2e;
 }
 .login-msg{
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
 }
 .msg-error{
    color: #720d0d;
    background-color: #ffbfbf;
 }
 .msg-succes{
   color: #0d723f;
   background-color: #bfffe2;
}

.login-links{
  margin: 20px 0;
}
.login-links a{
   margin-right: 30px;
   color:#005076;
   text-decoration: none;
}
